.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* this for all input */
input:focus-visible {
  outline: 2px solid #439BFF;

}

/* to remove default date icon  */
/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
} */

/* all placeholder color */
input::placeholder{
  color: #757575;
  width: auto;
  height: 27px;
  ;
}

/* all input type date placeholder color  */
input[type=date]:invalid::-webkit-datetime-edit {
  color: #757575;
}


/* all action and view button color  and pophover*/
.tooltip-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
  margin-bottom: 8px;
  background: linear-gradient(to right, #0f0202, #0f0202); 
  color: white;
  font-size: 0.875rem; 
  border-radius: 0.375rem; 
  padding: 0.5rem 0.75rem; 
  opacity: 0;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  visibility: hidden;
  z-index: 10;
}

.tooltip-arrow {
  position: absolute;
  top: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #0f0202 transparent transparent transparent;
}

.group:hover .tooltip-text {
  opacity: 1; 
  visibility: visible;
  transform: translateX(-50%) translateY(-5px);
}

.border-input{
  border: 1px solid #EAE5FF !important ;

}

/* in dashboard2 to remove default cancel or clear icon */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* for login */
@media (max-width:600px){
  .fg{
    margin-left: '20px';
    font-size: 9px;
  }
}

@media (max-width: 600px) {
  input[type="email"]::placeholder,
  input[type="password"]::placeholder {
      font-size: 8px; 
  }
  .visibilityIcon{
    font-size: 8px;
  }
}

/* scrollbar-none */
.scrollbar-none::-webkit-scrollbar{
  display: none;
}

.css-12w9als {
  display: flex;
  justify-content: flex-start;
}


.sub-menu-item{
  display: flex;
  justify-content: center;
  color: #0f0202 !important;
}

.sub-menu-item >a:hover {
  background-color: #fff !important;
}

.css-vj11vy {
  background: #439BFF;
  padding-top: 10px;
  font-weight: 500;
}

.css-ewdv3l {
  color: #fff;
}
.ps-menuitem-root >.ps-active{
background-color: white;
color: #439BFF !important;
font-weight: 700 !important;
margin: 0px 1px 0px 1px;
border-radius: 5px;

}

textarea:focus-visible {
  outline-offset: 0px;
  outline: 2px solid #439BFF;
}

.css-1wvake5 {
  width: 260px !important;
}

.css-13cymwt-control {
  min-height: 52px !important;
}



.css-ewdv3l .sub-menu-item{
  background-color: #439BFF !important;
  color: white !important;
}

.ps-menuitem-root >.ps-active:hover{
  background-color: white;
color: #439BFF !important;
font-weight: 700 !important;
}

/* ps-menuitem-root ps-active css-1654oxy" */
.ps-menuitem-root >.ps-menu-button:hover {
  background-color: #439BFF !important;
  color: white !important;
}

.css-dip3t8 {
  scrollbar-width: none;
}

.sub-menu-item:hover{
  background-color: #439BFF !important;
  color: white !important;
}

.ps-menu-button:active{
  background-color: white !important;
  color: #439BFF !important;
}

/* header */
.header{
  color: #000000;
  font-size: 24px;
  font-family: Montserrat;
}