.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* this for all input */
input:focus-visible {
  outline: 2px solid #439BFF;

}

/* to remove default date icon  */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* all placeholder color */
input::placeholder{
  color: #757575;
  width: auto;
  height: 27px;
  ;
}

/* all input type date placeholder color  */
input[type=date]:invalid::-webkit-datetime-edit {
  color: #757575;
}

.border-input{
  border: 1px solid #EAE5FF !important ;
}